---
layout: default
permalink: /help
title: Help & FAQ | Songriffer
---

{% include header.html %}

<div class="content legal-content">
    <div class="faq-section">
        <h2>Why do I need an account to use SongRiffer?</h2>
        <p>In order to use the SongRiffer app, you will need to sign up for an account. This is needed to synchronize your data so you can access them from all your devices (computer and smartphone).</p>
    </div>
    <div class="faq-section">
        <h2>How can I have access to the mobile app beta?</h2>
        <p>If you wish to have access to the mobile app, please contact us at <a href="mailto:hello@songriffer.com">hello@songriffer.com</a> and we'll see what we can do!</p>
    </div>
    <div class="faq-section">
        <h2>Why are not DAW files supported in the app?</h2>
        <p>Our goal is to have the best experience with all file types and integrate them as well as we can. Regarding DAW files, we won't be able to preview them in the app, and they don't make much sense on the mobile app. For now they are not supported.</p>
    </div>
    <div class="faq-section">
        <h2>Feedback and support</h2>
        <p>If you have any question not covered here, please contact us at <a href="mailto:hello@songriffer.com">hello@songriffer.com</a> and we'll answer you as soon as possible.</p>
    </div>
</div>

{% include footer.html %}
