---
layout: default
---

{% include header.html %}

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "SoftwareApplication",
        "name": "SongRiffer",
        "applicationCategory": "Multimedia",
        "downloadUrl": "https://songriffer.com",
        "operatingSystem": "OSX, Windows",
        "offers": {
            "@type": "Offer",
            "price": "0.00",
            "priceCurrency": "USD"
        },
        "author": {
            "@type": "Organization",
            "url": "https://songriffer.com",
            "contactPoint": [
                {
                    "@type": "ContactPoint",
                    "email": "hello@songriffer.com",
                    "url": "https://songriffer.com",
                    "contactType": "customer service"
                }
            ]
        }
    }
</script>

<div class="content">
    <div>
        <h2>Features</h2>
        <div class="feature-description-main">
            <p>SongRiffer's mission is very simple: be <strong>the best tool to track your musical ideas</strong>.</p>
            <p>No more lost ideas or wasted time listening to yet another <code>idea-v2.wav</code>, SongRiffer will improve your creative process so you can focus on what matters: writing damn good songs.</p>
        </div>
        <section>
            <div class="feature-text">
                <h3 class="title">Organize and quickly browse your riffs and song ideas.</h3>
                <div class="feature-description">
                    Describing your riff is what will make your creation process faster in the future.
                    Add tags, rate your riff, Songriffer will try to calculate the tempo to help you.
                    Once everything is set and your library is well organized, you will no longer be looking at a meaningless list of files with obscure names.
                    All your ideas and riffs are accessible and easy to browse.
                </div>
            </div>
            <div class="feature-video">
                <video autoplay="autoplay" muted playsinline src="/assets/feature-1-0.mp4" alt="Organize and browse your riffs and ideas" id="video-feature-1"></video>
            </div>
        </section>
        <section class="reverse">
            <div class="feature-video">
                <video autoplay="autoplay" muted loop playsinline src="/assets/feature-2-0.mp4" alt="Find the perfect songwriting idea"></video>
            </div>
            <div class="feature-text">
                <h3 class="title">Search for the perfect idea</h3>
                <div class="feature-description">
                    Stuck by creative block, or just searching for riffs for a new song? SongRiffer makes it easy to filter your riffs so you can find badass ideas you forgot about.
                    The quick search will allow you to show you all the files matching what you have in mind, whereas with the advanced search you will be able to fine tune your criteria and find exactly what you need.
                    SongRiffer will dig out your kick ass riffs so they don't stay unreleased to the world.
                </div>
            </div>
        </section>
        <section>
            <div class="feature-text">
                <h3 class="title">Preview your ideas and speed up your songwriting</h3>
                <div class="feature-description">
                    You can listen to your ideas through SongRiffer to know directly what they sound like.
                    Your songwriting process will no longer be interrupted by blindly listening to dozens of riffs, you can directly hand pick the one matching your current composition, and know instantly if they can fit or not.
                </div>
            </div>
            <div class="feature-video">
                <video autoplay="autoplay" muted playsinline src="/assets/feature-3-0.mp4" alt="Preview and listen to your ideas" id="video-feature-3"></video>
            </div>
        </section>
        <section class="reverse">
            <div class="feature-video">
                <video autoplay="autoplay" muted loop playsinline src="/assets/feature-recorder.mp4" alt="Record ideas directly into SongRiffer"></video>
            </div>
            <div class="feature-text">
                <h3 class="title">Record your ideas in one click</h3>
                <div class="feature-description">
                    How much time does it take before you can record an idea that just popped into your head? Starting your DAW, plugging your instrument, arm a track to record... Sometimes you don't want to start everything to capture your new idea. SongRiffer's Recorder allows you to record anything in one click. Your new idea is added immediately to your library and you can be sure you won't forget it by the time your DAW has crashed.
                </div>
            </div>
        </section>
        <div class="features-list">
            <div class="features-item">Tags and rating to organize your ideas and ideas and browse them easily</div>
            <div class="features-item">Record and synchronize your ideas on your smartphone and computer</div>
            <div class="features-item">Tempo, duration and time signature to know quickly if it fits what you need</div>
            <div class="features-item">Comments to write down ideas and notes about your work</div>
            <div class="features-item">Built-in player to preview your ideas immediately</div>
            <div class="features-item">Advanced search to dig deeper in your riff library and find the one that will help your songwriting</div>
            <div class="features-item">Record directly into SongRiffer in one click, the fastest way to capture your ideas</div>
            <div class="features-item">More features and improvement to come continuously to keep make your songwriting experience a breeze</div>
        </div>
        <div class="future">
            <h3>More to come...</h3>
            <div>SongRiffer will improve and gain more features continuously to help you even more. We've got a bunch of stuff planned that will hopefully make your (and ours!) songwriting process easier. This app is made by musicians like you, so feel free to <a href="mailto:hello@songriffer.com">give your feedback and ideas</a> on how SongRiffer can improve your creative process.</div>
        </div>
    </div>
</div>

{% include footer.html %}
