---
layout: default
permalink: /legal
title: Privacy | Songriffer
---

{% include header.html %}

<div class="content legal-content">
    <h2>Privacy</h2>

    <p>SongRiffer is an application that aims to improve your creative process, not make money off your data. SongRiffer is not a company, therefore there is no legal department at SongRiffer, so the text below is an attempt are clarifying what we do and why. If you have any question or concern about your private data, feel free to contact us at <a href="mailto:hello@songriffer.com">hello@songriffer.com</a> and we will try to answer you as soon as we can.</p>

    <h2>Data storage</h2>

    <p>None of the files that you import in SongRiffer are stored on the cloud. The data that you enter and use inside the app (tags, rating, comments...)
    are stored in databases for better performance and reliability.</p>

    <h2>Analytics</h2>

    <p>We track most of what you do in the app, in the sole purpose to improve the app by seeing how users are using the app.
    We track some details of what you do (such as tags or rating) but none of the data are linked to some personnal data.</p>

    <h2>Usage of data collected</h2>

    <p>None of the data we collect are shared, sold or given to any third parties. We use Google Analytics for tracking but we are the only one having access to the data. We do not monetize any of the data we collect.</p>

    <h2>Ads</h2>

    <p>The SongRiffer application as well as the website (<a href="https://songriffer.com">songriffer.com</a>) are 100% ad free.</p>

    <h2>Liability</h2>

    <p>The SongRiffer application is delivered as is and with no guarantee to be bug free or without any issues. On the other side, our goal is to make the best app we can and to make sure we do not try to get in the way of your creative process. We could not and will not be held responsible for any software or physical damage done to your computer after using SongRiffer, not that there should be any.</p>
    <p>The SongRiffer application is available for download through our official website <a href="https://songriffer.com">https://songriffer.com</a> and we advise you to only trust this source as safe. We cannot be held responsible for anything bad happening if you download the app through another website or source. The application packages are hosted on Github, so it is completely normal and expected that the package url mentions github in the url when you are downloading.</p>
</div>

{% include footer.html %}
