---
permalink: /app-login
title: App Login | SongRiffer
---

<!DOCTYPE html>
<html>
<head>
    <title>App Login | SongRiffer</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../favicon.png" />
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/{{ site.data.assets.main }}">
</head>
<body>
    {% include logo.html %}
    {% include script.html %}
    <div class="transfer-root app-login-container" id="root"></div>
    <script src="/{{ site.data.assets.login }}"></script>
</body>
</html>
