---
layout: default
permalink: /mobile
title: SongRiffer on iOS & Android
---

{% include header-light.html %}

<div class="content mobile-content">
    <h2>Capture your inspiration on the go</h2>

    <p>SongRiffer is coming to your smartphone! The mobile app (currently in beta) is the perfect companion for the desktop application.</p>

    <section>
        <div class="feature-text">
            <div class="feature-description">
                Synchronize your ideas added from your Mac or Windows application, or record new ideas anytime with the built-in recorder. Browse and organize your riffs and work in progress anywhere, any time.
            </div>
        </div>
        <div class="feature-image">
            <img class="mobile-screenshot" src="/assets/screenshot-mobile.png" alt="SongRiffer on Android and iOS" />
        </div>
    </section>

    <p>The mobile app is currently in closed beta, in order to have early access, please fill in this form and we'll get back to you really soon:</p>
    <div class="form-link-wrapper">
        <a class="form-link" href="https://forms.gle/aJJLzAi3vQYnQmVn8">Request beta access</a>
    </div>
</div>

{% include footer.html %}
