---
permalink: /transfer
title: Mobile Transfer | Songriffer
---

<!DOCTYPE html>
<html>
<head>
    <title>Mobile Transfer | SongRiffer</title>
    <meta name="description" content="Transfer your riffs and ideas directly from your smartphone to your SongRiffer application. The only riff library app made for musicians, by musicians, 100% free. Download for Mac and Windows." />

    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../favicon.png" />
    <meta name=viewport content="width=device-width,initial-scale=1">

    <meta property="og:site_name" content="SongRiffer" />
    <meta property="og:title" content="SongRiffer Mobile Transfer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://songriffer.com/transfer" />
    <meta property="og:image" content="https://songriffer.com/assets/screenshot-header.png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="960" />
    <meta property="og:description" content="Organize and browse all your ideas hassle-free. The only riff library app made for musicians, by musicians, 100% free. Download for Mac and Windows." />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://songriffer.com" />
    <meta name="twitter:title" content="SongRiffer Mobile Transfer" />
    <meta name="twitter:description" content="Organize and browse all your ideas hassle-free. The only riff library app made for musicians, by musicians, 100% free. Download for Mac and Windows." />
    <meta name="twitter:image" content="https://songriffer.com/assets/screenshot-header.png" />

    <link rel="stylesheet" type="text/css" href="/{{ site.data.assets.main }}">
</head>
<body>
    {% include logo.html %}
    <div id="root" class="transfer-root"></div>
    {% include footer.html %}
    {% include script.html %}
    <script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
    <script src="/{{ site.data.assets.transfer }}"></script>
</body>
</html>
