<footer>
    <div class="content footer">
        <div>
            <div>
                <a href="/mobile">iOS & Android application</a>
            </div>
            <div>
                <a href="/help">Help & FAQ</a>
            </div>
            <div>
                <a href="/privacy">Privacy Policy</a>
            </div>
            <div>
                <a href="/terms-and-conditions">Terms & Conditions</a>
            </div>
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="footer-logo footer-logo-desktop">
                  <use xlink:href="#e"/>
                </svg>
            </a>
        </div>
        <div>
            <div>Follow us for news and updates:</div>
            <div><a href="https://www.facebook.com/songrifferapp" class="link" data-link="facebook" target="_blank">SongRiffer on Facebook</a></div>
            <div><a href="https://www.instagram.com/songrifferapp" class="link" data-link="instagram" target="_blank">SongRiffer on Instagram</a></div>
        </div>
    </div>
    <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="footer-logo footer-logo-mobile">
          <use xlink:href="#e"/>
        </svg>
    </a>
</footer>
