<header>
    <div class="header-content">
        <div class="description">
            <h1>SongRiffer</h1>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="logo">
              <use xlink:href="#e"/>
            </svg>

            <div class="download-block">
                <div class="subtitle">Keep track of all your musical ideas.</div>
                <div class="subtitle-second">The only riff library made for musicians, by musicians.</div>
                <div class="download-title">Download</div>
                <div class="version">version {{ site.data.version.version }}</div>
                <div class="download-links">
                    <a class="download-link" href="{{ site.data.version.downloadUrls.mac }}" download id="download-mac" data-platform="mac" title="Download SongRiffer for Mac">
                        <span class="js-icon" data-icon="61993"></span>
                        Mac
                    </a>
                    <a class="download-link" href="{{ site.data.version.downloadUrls.windows }}" download id="download-windows" data-platform="windows" title="Download SongRiffer for Windows">
                        <span class="js-icon" data-icon="62255"></span>
                        Windows
                    </a>
                </div>
                <a class="header-mobile-link" href="/mobile">
                    iOS & Android apps open for beta!<br />Learn more >
                </a>
            </div>
        </div>
        <div class="header-img-wrapper">
            <img class="header-img" src="/assets/screenshot-header.png" srcSet="/assets/screenshot-header.png 1x, /assets/screenshot-header@2x.png 2x" alt="Songwriting tool app for Mac and Windows" />
        </div>
    </div>
</header>
