*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body {
/*    display: flex;
    flex-direction: column;*/
    color: #dedede;
    background: #2e2e2e;
    background: radial-gradient(#0e0f26, #121212);
    background-size: cover;
    font-size: 20px;
    font-family: sans-serif;
}

::selection {
    background: #7C5AB0;
}
::-moz-selection {
    background: #7C5AB0;
}

header {
    position: relative;
    min-height: 500px;
    padding-bottom: 120px;
    background: #8086FF;
    background: radial-gradient(ellipse at top, #8086FF, transparent),
        radial-gradient(ellipse at left, #963c57, transparent),
        radial-gradient(ellipse at right, #68459b, transparent);
    overflow: hidden;
}

header:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 400px;
    background: radial-gradient(ellipse at top, #8086FF, transparent),
        radial-gradient(ellipse at bottom, #963c57, transparent),
        radial-gradient(ellipse at right, #68459b, transparent);
    transform: rotate(35deg);
    top: -100px;
    right: -600px;
    opacity: 0.5;
}

header:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    background: radial-gradient(ellipse at top, #8086FF, transparent),
        radial-gradient(ellipse at bottom, #963c57, transparent),
        radial-gradient(ellipse at left, #68459b, transparent);
    transform: rotate(-15deg);
    bottom: -194px;
    left: 65px;
    opacity: 0.8;
}

.header-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2;
}

.description {
    width: 45%;
}

h1 {
    position: absolute;
    left: -99999px;
}

.logo {
    width: 222px;
    max-width: 100%;
    height: 100px;
    margin-top: 120px;
    transform: scale(1.5);
    transform-origin: left;
}

.def-logo {
    display: none;
}

.def-logo path {
    fill: #dedede;
}

.download-block {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.5px;
}

.subtitle-second {
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
}

.download-title {
    margin-bottom: 5px;
    font-size: 22px;
}

.version {
    margin-bottom: 25px;
    font-size: 13px;
}

.download-links {
    display: grid;
    width: 100%;
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    grid-gap: 24px;
    justify-items: center;
}

.download-link {
    display: block;
    width: 100%;
    padding: 20px 0;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #dedede;
    color: #dedede;
    background: #3B4096;
    transition: background ease 0.2s;
}

.download-link:hover {
    background: #8086FF;
}

.header-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
    z-index: 2;
}

.header-img {
    width: 100%;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding: 45px 0;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 3px;
    font-size: 45px;
}

.feature-description-main {
    width: 90%;
    margin: auto;
}

section {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

section > div {
    padding: 50px;
}

.feature-text {
    width: 35%;
}

.feature-video {
    width: 65%;
}

section video {
    width: 100%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 1);
}

section .title {
    font-size: 25px;
    font-weight: lighter;
}

.feature-description {
    font-size: 18px;
    line-height: 1.3
}

.future {
    padding: 20px 100px;
    font-size: 18px;
    text-align: center;
    line-height: 1.4;
}

.content a {
    color: #dedede;
    text-decoration: underline;
}

footer {
    width: 100%;
    margin-top: 120px;
    padding: 50px 0;
    border-top: 1px solid #dedede;
    background: radial-gradient(ellipse at top, #8086FF, transparent),
        radial-gradient(ellipse at left, #963c57, transparent),
        radial-gradient(ellipse at right, #68459b, transparent);
}

.footer {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    font-weight: lighter;
    font-size: 16px;
    line-height: 2;
}

.footer > div {
    width: 50%;
}

.footer a {
    color: #dedede;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-logo {
    margin-top: 20px;
}

.footer-logo-mobile {
    display: none;
}

@media (max-width: 1250px) {
    header {
        padding: 100px 25px;
    }

    .header-content {
        width: 100%;
    }
}

@media (max-width: 900px) {
    header {
        padding: 50px 25px;
    }

    .header-content {
        width: 100%;
        flex-direction: column;
    }

    .header-img-wrapper {
        width: 90%
    }

    .description,
    .download-link {
        width: 100%;
    }

    .feature-text {
        width: 45%;
    }

    .feature-video {
        width: 55%;
    }
}

@media (max-width: 640px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .feature-text {
        width: 100%;
    }

    .feature-video {
        width: 90%;
        padding: 25px;
        margin: 0 auto;
    }

    .footer {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
    }

    .footer-logo-desktop {
        display: none;
    }

    .footer-logo-mobile {
        display: block;
        margin-left: 15px;
    }
}

/*****************************
          Legal
******************************/

.legal-content {
    padding: 0 30px;
}

.legal-content h2 {
    padding: 20px 0;
    font-size: 30px;
}

.legal-content p {
    margin: 10px 0;
    font-size: 16px;
}


/*****************************
          Tranfer
******************************/

.transfer-root {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.transfer-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transfer-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.transfer-logo {
    width: auto;
    margin: 40px 0;
}

.transfer-auth {
    max-width: 400px;
    padding: 40px 0;
}

.auth-title {
    margin-bottom: 25px;
}

.log-out-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}

.log-out-text {
    padding-bottom: 15px;
    font-size: 14px;
}

.transfer-root input {
    display: inline-block;
    background: transparent;
    outline: none;
    color: #dedede;
    font-size: 16px;
    width: 100%;
    padding: 5px 7px;
    margin-bottom: 15px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #dedede;
    transition: border ease 0.1s;
}

.transfer-root input::placeholder {
    color: #dedede;
    opacity: 0.4;
}

.transfer-root input:focus {
    border-bottom: 1px solid #8086FF;
}

.transfer-root .files-input {
    display: none;
}

.transfer-root button,
.transfer-root .files-input-label {
    outline: none;
    background: #3B4096;
    color: #dedede;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    transition: background ease 0.1s;
}

.transfer-root .files-input-label {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 40px 0;
    text-align: center;
    cursor: pointer;
}

.transfer-root .secondary-button {
    border: 1px solid #555;
    background: none;
}

.transfer-auth button:hover,
.transfer-root .files-input-label:hover,
.transfer-root .secondary-button:hover {
    background: #a389c9;
}

.form-type-switch {
    margin-top: 40px;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

.auth-error {
    margin-bottom: 15px;
    color: #963c57;
    font-size: 14px;
}

.transfer-file-wrapper {
    max-width: 400px;
}

.transfer-root .code-input-wrapper {
    display: flex;
    justify-content: center;
}

.transfer-root .code-input-text {
    margin: 40px 0;
}

.transfer-root .code-input {
    max-width: 100px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    text-align: center;
}

.transfer-root .code-input:focus {
    border: none;
}

.transfer-file {
    margin-top: 10px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
